.rightPanel {
  padding-top: 80px;
  padding-bottom: 50px;
}

.editCourseTitle, .title {
  font-size: calc(1.5em + 1vw);
}
.title {
  padding-bottom: 100px;
  padding-left: 50px;
}

.wrapper {
  padding-top: 10px;
  padding-left: 50px;
  margin-top: 40px;
}
